{% extends 'master.html' %}

{% block crumbs %}
> {{ post.title }}
{% endblock %}

{% block content %}
		{% render_post post %}
		
	    <p> TODO - next/previous area </p>
	    {% if blog_model.current_blog_user != None %}
			<script type="text/javascript">
				$(document).ready(function() {
					  $(".deleteCommentLink").click(function(event) {
					    	if (!confirm("Are you sure you want to delete this comment?"))
					  		{
						   		event.preventDefault();
						   	}
					  });
				 });
			</script>
		{% endif %}
	    
		<h3>Comments ({{number_of_comments}})</h3>
		{% for comment in comments %}
		    {% render_comment comment post blog_model %}
		{% endfor %}
		{% if post.enable_comments %}
		
		<h3>Post a comment:</h3>
		<form method="post">
			<p>
				Name
				<input type="text" name="name" Value="" maxlength="100" class="wideControl"/>
			</p>
			<p>
				E-mail (never shared)
				<input type="text" name="email" Value="" maxlength="250" class="wideControl"/>
			<p>
				URL
				<input type="text" name="url" Value="" maxlength="500" class="wideControl"/>
			<p>
				Comments
				<textarea name="body" rows="2" cols="20" class="wideControl" style="height:120px;"></textarea>
			</p>
			<script type="text/javascript"
		       src="http://www.google.com/recaptcha/api/challenge?k=6LdwKcMSAAAAAB5ZxdcHHxbY_-mGV3mGi4EccpNL">
		    </script>
		    <noscript>
		       <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LdwKcMSAAAAAB5ZxdcHHxbY_-mGV3mGi4EccpNL"
		           height="300" width="500" frameborder="0"></iframe><br>
		       <textarea name="recaptcha_challenge_field" rows="3" cols="40">
		       </textarea>
		       <input type="hidden" name="recaptcha_response_field"
		           value="manual_challenge">
		    </noscript>
			<input type="submit" />
		</form>
		{% endif %}
{% endblock %}
